.game-item {
    background: #e3f2fd;
}
.dropdown-toggle {
    
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: #0056b3; 
}

.dropdown-item {
    padding: 10px 20px;
    color: #000; 
    transition: background-color 0.3s ease; 
}

   
    .dropdown-item:hover {
        background-color: #b0e0e6; 
        color: #000; 
    }


.dropdown-menu .dropdown-item:hover ~ .dropdown-toggle {
    background-color: #0056b3;
    color: #000 !important;
}
